*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: black;
    color: blue;
    width: 100%;
    height: 10vh;
    text-align: center;
}

.pieDePagina{
    display: flex;
    justify-content: center;
    background-color: lightblue;
    width: 100%;
    height: 20vh;
}